body {
    background: #1a4a00;
    background: linear-gradient(90deg, rgba(26, 74, 0, 1) 0%, rgba(40, 158, 36, 1) 54%, rgba(116, 242, 109, 1) 100%);
    color: #fff;
}   

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}
.item14 {
    background-color: #1a4a00;
    text-align: center;
    border: 5px solid yellow;
    grid-column: span 2;
    
}
.item {
    background-color: black;
    color:yellow;
    text-align: center;
    border: 5px solid;
}