body {
    background: #1a4a00;
    background: linear-gradient(90deg, rgba(26, 74, 0, 1) 0%, rgba(40, 158, 36, 1) 54%, rgba(116, 242, 109, 1) 100%);
    color: #fff;
}   

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr 2fr);
    grid-template-rows: repeat(10, 50px);
}

.item1 {
    background-color: #fff;
    grid-column: 3 / 5;
    color: #111;
}

.item2 {
    background-color: #fff;
    grid-column: 5 / -1;
    color: #111;
}

.item5 {
    background-color: #fff;
    grid-column:span 2;
    grid-row: span 2;
    color: #111;
}

.item8 {
    background-color: #fff;
    grid-row: span 2;
    color: #111;
}

.item15 {
    background-color: #fff;
    grid-column: 1 / -1;
    color: #111;
}

.item18 {
    background-color: white;
    grid-column: span 4 / 9;
    color: #111;
}

.item20 {
    background-color: #fff;
    color: #111;
    grid-row: 4 / span 3;

}

.item {
    background-color: yellow;
    color: #111;
    text-align: center;
}